<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
        <title>添加</title>
        <style>
            input{
               width: 200px ;
               height: 20px;
               margin-bottom: 5px;
            }

            span{
                   float: left;
                   width: 75px;
                   height: 25px;
            }
        </style>
    </head>
    <body>
        <h3>添加页面</h3>
        <hr>
        {% if table == 'userinfo' %}
            <form method="POST" action="/add2">
                    <label><input type="hidden" name="table" value="{{ table }}"></label><br>
                    <label><span>ID:</span><input type="text" name="id"></label><br>
                    <label><span>姓名:</span><input type="text" name="name"></label><br>
                    <label><span>性别:</span><input type="text" name="sex"></label><br>
                    <label><span>注册日期:</span><input type="text" name="tdata"></label><br>
                    <label><span>余额:</span><input type="text" name="balance"></label><br>
                    <button type="submit">提交</button>
             </form>
        {% endif %}
        {% if table == 'supplier' %}
            <form method="POST" action="/add2">
                    <label><input type="hidden" name="table" value="{{ table }}"></label><br>
                    <label><span>ID:</span><input type="text" name="id"></label><br>
                    <label><span>姓名:</span><input type="text" name="name"></label><br>
                    <label><span>性别:</span><input type="text" name="sex"></label><br>
                    <label><span>手机号:</span><input type="text" name="phone"></label><br>
                    <label><span>地点:</span><input type="text" name="site"></label><br>
                    <label><span>商品名:</span><input type="text" name="cname"></label><br>
                    <button type="submit">提交</button>
             </form>
        {% endif %}
    </body>
</html>