<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
        <title>修改页面</title>
    </head>
    <body>
            <h3>修改页面</h3>
            {% if table == 'userinfo' %}
                <p>可修改字段为：编号:id，名字:uname，性别:sex，注册日期:Tdata，余额:balance</p>
            {% elif table=='employee' %}
                <p>可修改字段为：编号:id，名字:ename，性别:sex，出生日期:birthday，职务:duty，手机号:phone</p>
            {% elif table == 'commodity' %}
                <p>可修改字段为：编号:id，名字:cname，价格:price，数量:amount，单位:unit，生产日期:dom，供应商:sname</p>
            {% elif table=='supplier' %}
                <p>可修改字段为：编号:id，名字:sname，性别:sex，手机号:phone，地点:site，商品名:cname</p>
            {% endif %}
            <form method="POST" action="/upd">
                <label><input type="hidden" name="table" value="{{ table }}"></label><br>
                <label>编号:{{ id }}<input type="hidden" name="id" value="{{ id }}"></label><br>
                <label>请输入要修改的字段:<input type="text" name="s"></label><br>
                <label>请输入要修改的内容:<input type="text" name="n"></label><br>
                <button type="submit">提交</button>
            </form>
    </body>
</html>