<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户信息管理</title>
</head>
<body>
    <h1>用户信息管理</h1>
    <hr>
    <table border="1" cellpadding="10">
        <button><a href="/add2?table={{ table }}">添加</a></button>
        <hr>
        {% if table=="userinfo" %}
            <tr><th>编号</th><th>名字</th><th>性别</th><th>注册日期</th><th>余额</th><th>操作</th></tr>
                {% for u in users %}
                <tr><td>{{ u[0] }}</td><td>{{ u[1] }}</td><td>{{ u[2] }}</td><td>{{ u[3] }}</td><td>{{ u[4] }}</td><td><button><a href="/upd?id={{ u[0] }}&table=userinfo">修改</a></button>&nbsp<button><a href="/del?id={{ u[0] }}&table=userinfo">删除</a></button></td></tr>
                {% endfor %}
        {% endif %}

        {% if table=="supplier" %}
            <tr><th>编号</th><th>名字</th><th>性别</th><th>手机号</th><th>地点</th><th>商品名</th><th>操作</th></tr>
            {% for u in users %}
            <tr><td>{{ u[0] }}</td><td>{{ u[1] }}</td><td>{{ u[2] }}</td><td>{{ u[3] }}</td><td>{{ u[4] }}</td><td>{{ u[5] }}</td><td><button><a href="/upd?id={{ u[0] }}&table=supplier">修改</a></button>&nbsp<button><a href="/del?id={{ u[0] }}&table=supplier">删除</a></button></td></tr>
            {% endfor %}
        {% endif %}
    </table>
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
</body>
</html>