<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/pinfo">完善个人信息</a>
    <h1>技术</h1>
    {% for ls in technology %}
        <h5>{{ls.names}}</h5>

        {% for l in ls %}
            <span>{{ l.name }}</span>
        {% endfor %}

    {% endfor %}

    <h1>产品</h1>
    {% for ls in product %}
    <h5>{{ls.names}}</h5>
        {% for l in ls %}
    <h5>{{ l.name }}</h5>
        {% endfor %}
    {% endfor %}

    <h1>设计</h1>
    {% for ls in design %}
    <h5>{{ls.names}}</h5>
        {% for l in ls %}
    <h5>{{ l.name }}</h5>
        {% endfor %}
    {% endfor %}

    <h1>运营</h1>
    {% for ls in operating %}
    <h5>{{ls.names}}</h5>
        {% for l in ls %}
    <h5>{{ l.name }}</h5>
        {% endfor %}
    {% endfor %}

    <h1>市场</h1>
    {% for ls in market %}
    <h5>{{ls.names}}</h5>
        {% for l in ls %}
    <h5>{{ l.name }}</h5>
        {% endfor %}
    {% endfor %}

    <h1>销售</h1>
    {% for ls in sales %}
    <h5>{{ls.names}}</h5>
        {% for l in ls %}
    <h5>{{ l.name }}</h5>
        {% endfor %}
    {% endfor %}

    <h1>职能</h1>
    {% for ls in function%}
    <h5>{{ls.names}}</h5>
        {% for l in ls %}
    <h5>{{ l.name }}</h5>
        {% endfor %}
    {% endfor %}

    <h1>游戏</h1>
    {% for ls in game%}
    <h5>{{ls.names}}</h5>
        {% for l in ls %}
    <h5>{{ l.name }}</h5>
        {% endfor %}
    {% endfor %}

</body>
</html>