<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发布招聘信息</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/lhlcs.css' %}">
</head>
<body>
        <div class="Content-Main">
            <form  action="" method="POST" class="form-userInfo">
                {% csrf_token %}
                <h1>公司招聘信息</h1>
                <span class="text1">请在文本框中录入招聘信息信息：</span>
                <label>
                    <span>公司名:</span>
                    <input type="text"  name="name" placeholder="公司名称">
                </label>
                <label>
                    <span>需求职业:</span>
                    <input type="text"  name="recruitment" placeholder="需求职业">
                </label>
                <label>
                    <span>薪资范围:</span>
                    <input type="text" name="pay" size="7px" placeholder="min-max">
                </label>

                <label>
                    <span>工作城市:</span>
                    <input type="text" name="area" size="7px" placeholder="例：武汉">
                </label>
                <label>
                    <span>工作经验:</span>
                    <select size="1" name="experience" style="display: inline-block; width:71%; height:40px; border:1px solid grey;
border-radius:2px; color:grey; background: #D5D5D5;">
                        <option selected>不限</option>
                        <option>应届毕业生</option>
                        <option>3年及一下</option>
                        <option>3-5年</option>
                        <option>5-10年</option>
                        <option>10年以上</option>
                    </select>
                </label>  <br>
                <label>
                    <span>学历要求:</span>
                    <select size="1" name="education" style="display: inline-block; width:71%; height:40px; border:1px solid grey;
border-radius:2px; color:grey; background: #D5D5D5;">
                        <option selected>不限</option>
                        <option>大专</option>
                        <option>本科</option>
                        <option>硕士</option>
                        <option>博士</option>
                    </select>
                </label>  <br>
                <label>
                    <span>工作性质:</span>
                    <select size="1" name="post" style="display: inline-block; width:71%; height:40px; border:1px solid grey;
border-radius:2px; color:grey; background: #D5D5D5;">
                       <option selected>全职</option>
                        <option>兼职</option>
                        <option>实习</option>
                    </select>
                </label>  <br>
                <label>
                    <span>职业诱惑:</span>
                    <textarea name="attract" cols="40" rows="5" placeholder="职业优势"></textarea>
                </label>

                <label>
                    <span>职位描述:</span>
                    <textarea name="describe" cols="40" rows="20" placeholder="职位描述"></textarea>
                </label>
                <label>
                    <span>工作地点:</span>
                    <input type="text" name="workplace" placeholder="详细地址">
                </label>
                <label>
                    <input type="submit" class="button" value="提交" style=" display-inline-block; margin: 0px 44%;">
                </label>
            </form>
        </div>
</body>
</html>
