<!DOCTYPE html>
<html>
<head>
    <title>完善个人简历</title>
	{% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Draco is free PSD &amp; HTML template by @afnizarnur">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'main/css/kube.min.css'%}" />
    <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css'%}" />
    <link rel="stylesheet" href="{% static 'main/css/custom.min.css'%}" />
    <link rel="shortcut icon" href="{% static 'main/img/favicon.png'%}" />
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<style>
		.intro h1:before {
			/* Edit this with your name or anything else */
			content: 'DRACO';
		}
	</style>
</head>
<body>
	<!-- Navigation -->
	<!-- <div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">DRACO</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav">
				    <ul>
				        <li class="active"><a href="#about">完善简历</a></li>
				        <li><a href="#experiences">基本信息</a></li>
				        <li><a href="#achievements">教育经历</a></li>
				        <li><a href="#skills">求职意向</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div> -->

	<!-- Introduction -->
	<div class="intro section" id="about">
		<div class="container">
			<h1>完善简历</h1>
			<div class="units-row units-split wrap">
				<div class="unit-20">
					<img src="{% static 'main/img/ava.jpg'%}" alt="Avatar">
				</div>
				<div class="unit-80">
					<h1>I live in<br><span id="typed"></span></h1>
				</div>
				<p>
					写好简历，没准谁瞎了眼看上了，缘分这东西，谁知道呢。
				</p>
			</div>
		</div>
	</div>

	<!-- 基本信息 -->
	<form action="" method="POST">
		{% csrf_token %}
		<div class="work section second" id="experiences">
			<div class="container">
				<h1>基本信息</h1>
				<table>
					<tr><td>姓名：</td><td><input type="text" name="name"></td></tr>
            <tr><td>性别：</td><td>
                <input type="radio" name="sex" id="s" value="男"><label for="s">男</label>
                <input type="radio" name="sex" id="a" value="女"><label for="a">女</label></td></tr>
            <tr><td>手机号：</td><td><input type="text" name="phone"></td></tr>
            <tr><td>生日：</td><td><input type="date" name="birthday"></td></tr>
            <tr><td>所在城市：</td><td><input type="text" name="area"></td></tr>
            <tr><td>邮箱：</td><td><input type="text" name="email"></td></tr>
            <tr><td>社交主页：</td><td><input type="text" name="shejiao"></td></tr>
			<tr><td>当前身份：</td><td>
                <input type="radio" name="student" id="s1" value="学生"><label for="s1">学生</label>
                <input type="radio" name="student" id="a1" value="非学生"><label for="a1">非学生</label></td></tr>
            <tr><td>有无工作经历：</td><td>
                <input type="radio" name="worktime" id="s2" value="有"><label for="s2">有</label>
                <input type="radio" name="worktime" id="a2" value="无"><label for="a2">无</label>
				</table>
			</div>
		</div>

		<!-- 教育经历 -->
		<div class="award section second" id="achievements">
			<div class="container">
				<h1>教育经历</h1>
				<table>
					<tr><td>就读学校：</td><td><input type="text" name="school"></td></tr>
					<tr><td>入学时间：</td><td><input type="date" name="admdate"></td></tr>
					<tr><td>毕业时间：</td><td><input type="date" name="gradtime"></td></tr>
					<tr><td>专业：</td><td><input type="text" name="prof"></td></tr>
					<tr><td>学历：</td><td><select size="1" name="education">
						<option>大专</option>
						<option selected>本科</option>
						<option>硕士</option>
						<option>博士</option>
						<option>其他</option>
						</select></td></tr>
					<tr><td>自我描述：</td><td><textarea cols="40" rows="5" name="selfdes"></textarea></td></tr>
				</table>
			</div>
		</div>
		
		<!-- 求职意向 -->
		<div class="skills section second" id="skills">
			<div class="container">
				<h1>求职意向</h1>
				<table>
					<tr><td>期望职位：</td><td><input type="text" name="type_work"></td></tr>
            <tr><td>工作性质：</td><td>
                <select size="1" name="nature_work">
                <option selected>全职</option>
                <option>兼职</option>
                <option>实习</option>
                </select></td></tr>
            <tr><td>期望薪资：</td><td><input type="text" name="expecte_salary"></td></tr>
            <tr><td>最低薪资：</td><td><input type="text" name="low_salary"></td></tr>
            <tr><td>期望工作城市：</td><td><input type="text" name="work_city"></td></tr>
            <tr><td>当前状态：</td><td>
                <select size="1" name="state">
                <option selected>积极找工作</option>
                <option>随便看看</option>
                <option>暂时不换工作</option>
                </select></td></tr>
            <tr><td>到岗时间</td><td>
                <select size="1" name="available_time">
                <option selected>随时</option>
                <option>2周以内</option>
                <option>2周-1个月</option>
                <option>1个月-3个月</option>
                <option>3个月以上</option>
                </select></td></tr>
            <tr><td></td><td><input type="submit" value="提交" disabled="disabled"></td></tr>
				</table>
			</div>
		</div>
	</form>
	

	

		<!-- Javascript -->
		<script src="{% static 'main/js/jquery.min.js'%}"></script>
		<script src="{% static 'main/js/typed.min.js'%}"></script>
		<script src="{% static 'main/js/kube.min.js'%}"></script>
		<script src="{% static 'main/js/site.js'%}"></script>
		<script>
			function newTyped(){}$(function(){$("#typed").typed({
			// Change to edit type effect
			strings: ["far northern sky", "your galaxy", "everywhere"],

			typeSpeed:90,backDelay:700,contentType:"html",loop:!0,resetCallback:function(){newTyped()}}),$(".reset").click(function(){$("#typed").typed("reset")})});
		</script>
</body>
</html>
